<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col-md-10">
      <div class="jumbotron">
        <h1 class="display-4">Hello, welcome to Blocipedia!</h1>
        <p class="lead">Blocipedia is a simple wiki to store and share cool stuff!</p>
        <hr class="my-4">
        <p>Sign in or Sign up today!</p>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-primary btn-lg' %>
        <%= link_to "Sign In", new_user_session_path, :class => 'btn btn-secondary btn-lg'  %>
       </li>
      </div>
    </div>
  </div>
</div>
