<div class="container">
  <div class="row justify-content-sm-center d-flex">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>edit</h3>
        </div>
          <%= render partial: 'form', locals: { wiki: @wiki, current_user: current_user } %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-header">
          <h3>preview</h3>
        </div>

          <div class="card-body">
          <h4 class="card-title"><%= @wiki.title %></h4>
            <%= sanitize markdown(@wiki.body) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
